.navbar {
  background-color: #0a0a23;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-brand a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-brand img {
  height: 40px; /* Customize the height of your logo */
  margin-right: 10px; /* Add some spacing between the logo and text */
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 15px;
  display: inline-block;
}

.nav-link:hover {
  background-color: #555;
}

.signup-link {
  background-color: #feac32;
  color: #080808;
  font-size: 1.2rem;
  border-radius: 2px;
  padding: 9px 40px;
  text-decoration: none;
}

.login-link {
  background-color: #feac32;
  color: #080808;
  font-size: 1.2rem;
  border-radius: 2px;
  padding: 9px 40px;
  text-decoration: none;
}

.signup-link:hover,
.login-link:hover {
  opacity: 0.8;
}
.homepage {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title-container h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: left;
}
.title-container p {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: left;
}

.cta-button {
  margin-top: 1.8rem;
  padding: 1rem 1rem;
  background-color: #feac32;
  color: #0a0a23!important;
  font-weight: semi-bold;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 28rem;
  background-image: linear-gradient(#fecc4c,#ffac33);
  border-color: #feac32;
  border-width: 3px;
  white-space: nowrap;
}

.cta-button:hover {
  background-color: #f1db10;
}
.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.icon {
  color: #080808;
  font-size: 4rem;
  margin-right: 2rem;
}
